[submodule "photo-galleries"]
	path = photo-galleries
	url = https://github.com/YugankSingh/photo-galleries
[submodule "counter"]
	path = counter
	url = https://github.com/YugankSingh/counter
[submodule "catch-me"]
	path = catch-me
	url = https://github.com/YugankSingh/catch-me
[submodule "calculator"]
	path = calculator
	url = https://github.com/YugankSingh/calculator
[submodule "record-student-data"]
	path = record-student-data
	url = https://github.com/YugankSingh/record-student-data
[submodule "ping-pong"]
	path = ping-pong
	url = https://github.com/YugankSingh/ping-pong
